@charset "UTF-8";

.flutuar {
  animation: flutuar 2s infinite alternate-reverse;
  height: 200px;
}

.italic {
  font-style: italic;
}

.obs {
  color: #78767c;
  font-size: 0.8rem;
}

.obs::selection {
  color: red;
}

.purple {
  color: #a277ff;
}
