@charset "UTF-8";

::selection {
  background-color: #f694ff46;
}

::-webkit-scrollbar {
  background-color: #2c263e;
  border-radius: 10px;
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #69519d;
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  background-color: #110f18;
}

body {
  background-color: #110f18;
  color: #61ffca;
  font-size: 20px;
}

h1 {
  font-size: 50px;
}

.italic {
  font-style: italic;
}

a {
  color: #7458ae;
  text-decoration: none;
}

a:hover {
  color: #f694ff;
}

.flutuar {
  animation: flutuar 2s infinite alternate-reverse;
  height: 200px;
}

.purple {
  color: #a277ff;
}

@keyframes flutuar {
  0% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);
  }
}
