@charset "UTF-8";

::-webkit-scrollbar {
  background-color: #2c263e;
  border-radius: 10px;
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #69519d;
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  background-color: #110f18;
}

::selection {
  background-color: #f694ff46;
}
